:root {
    --white:    #fff;
    --gray-100: #f8f9fa;
    --gray-200: #ebebeb;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #999;
    --gray-700: #444;
    --gray-800: #303030;
    --gray-900: #222;
    --black:    #000;

    --blue:    #375a7f;
    --indigo:  #6610f2;
    --purple:  #6f42c1;
    --pink:    #e83e8c;
    --red:     #E74C3C;
    --orange:  #fd7e14;
    --yellow:  #F39C12;
    --green:   #00bc8c;
    --teal:    #20c997;
    --cyan:    #3498DB;

    --primary:       var(--blue);
    --secondary:     var(--gray-700);
    --success:       var(--green);
    --info:          var(--cyan);
    --warning:       var(--yellow);
    --danger:        var(--red);
    --light:         var(--gray-800);
    --dark:          var(--gray-800);

    // Body
    --body-bg:       var(--gray-700);
    --body-fg:       var(--gray-100);

    --body-inverse-bg : var(--body-fg);
    --body-inverse-fg:    var(--body-bg);
    --base-font-size : 20px;

    --win-title-bg : linear-gradient(#484e55, #3A3F44 60%, #313539);;
    --win-title-fg : var(--gray-100);

}